.lineNumber::before {
    content: ' ';
}


.lineNumber:hover,
.lineNumber:hover::before {
    font-weight: bolder;
    content: "+";
    background-color: black;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.selectedLine {
    font-weight: bolder;
}

.selectedLine::before {
    font-weight: bolder;
    content: "-";
}

.selectedLine:hover,
.selectedLine:hover::before {
    cursor: pointer;
}