.problemForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.problem {
    overflow-y: auto;
    margin: 2px;
    padding: 15px;
    border-radius: 2px;
    width: 100%;
    height: fit-content;
    background-color: rgba(224, 225, 226, 0.24);
}

.problem p {
    margin: 0 !important;
}

.monacoEditor {
    margin: 2px;
    width: 100%;
    padding: 25px 3px 5px 3px;
    border: 1px solid rgba(128, 128, 128, 0.171);
    border-radius: 2px;
    box-shadow: inset 0 0 3px #cfcece70;
    background-color: white;
}